@{
    ViewData["Title"] = "Movie Added";
}

@model Mission06_chanse99.Models.MovieResponse

<h2>@Model.MovieTitle has been added</h2>

<div>
    <a asp-controller="Home" asp-action="AddNewMovie">Add Another Movie</a>
</div>